/* 深色主题 */
[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #181818;
  --bg-tertiary: #282828;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --primary-color: #ff4e4e;
  --border-color: #2c2c2c;
  --player-bg: #282828;
  --nav-bg: #191919;
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-hover-bg: rgba(255, 255, 255, 0.1);
  --ranking-text: #999;
}

/* 浅色主题 */
[data-theme="light"] {
  --bg-primary: #533939;
  --bg-secondary: #968c8c;
  --bg-tertiary: #f5f5f5;
  --text-primary: #333333;
  --text-secondary: #666666;
  --primary-color: #fffefe;
  --border-color: #e0e0e0;
  --player-bg: #968c8c;
  --nav-bg: #fefefe;
  --card-bg: rgba(0, 0, 0, 0.05);
  --card-hover-bg: rgba(0, 0, 0, 0.1);
  --ranking-text: #666666;
} 