.back-button-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.back-button {
  background: transparent;
  padding: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-icon {
  font-size: 1.5em;
}

.back-text {
  display: none;
}